<div style="color: #FF0000">{{updateMessage}}</div>
<h1>Kund</h1>
<div >
  <form name="clientForm" ng-submit="update()">
  <table>
    <tr>
      <th>Kundnr</th>
      <td><input type="text" ng-model="client.clientNo"></td>
    </tr>
    <tr>
      <th>Företagsnamn</th>
      <td><input type="text" ng-model="client.companyName"></td>
    </tr>
    <tr>
      <th>Adress</th>
      <td><input type="text" ng-model="client.address1"></td>
    </tr>
    <tr>
      <th>Adress</th>
      <td><input type="text" ng-model="client.address2"></td>
    </tr>
    <tr>
      <th>Postnummer</th>
      <td><input type="text" ng-model="client.postCode"></td>
    </tr>
    <tr>
      <th>Postort</th>
      <td><input type="text" ng-model="client.postAddress"></td>
    </tr>
    <th>Kontaktperson</th>
    <td><input type="text" ng-model="client.contact"></td>
    </tr>
    <tr>
      <th>Telefonnummer</th>
      <td><input type="text" ng-model="client.phoneNumber"></td>

    </tr>
  </table>

  <div class="absolute">
    <a ng-href="#/invoiceList{{client.id}}"> <button class="btn btn-primary">Fakturalista</button></a>
    <a href="#/newInvoice{{client.id}}"> <button class="btn btn-primary">Skapa faktura</button></a>
    <a href="#/clientList"><button class="btn btn-primary" ng-click="delete()">Ta Bort Kund</button></a>
  <input class="btn btn-primary" type="submit" value="Spara"/>
  </div>
    </form>


</div>
