<div style="color: #FF0000">{{updateMessage}}</div>
<h1>Kund</h1>
<div >
  <form name="clientForm" ng-submit="update()">
  <table>
    <tr>
      <td>Kundnr</td>
      <td><input type="text" ng-model="client.clientNo"></td>
    </tr>
    <tr>
      <td>Företagsnamn</td>
      <td><input type="text" ng-model="client.companyName"></td>
    </tr>
    <tr>
      <td>Adress</td>
      <td><input type="text" ng-model="client.address1"></td>
    </tr>
    <tr>
      <td>Adress</td>
      <td><input type="text" ng-model="client.address2"></td>
    </tr>
    <tr>
      <td>Postnummer</td>
      <td><input type="text" ng-model="client.postCode"></td>
    </tr>
    <tr>
      <td>Postort</td>
      <td><input type="text" ng-model="client.postAddress"></td>
    </tr>
    <td>Kontaktperson</td>
    <td><input type="text" ng-model="client.contact"></td>
    </tr>
    <tr>
      <td>Telefonnummer</td>
      <td><input type="text" ng-model="client.phoneNumber"></td>

    </tr>
  </table>

  <div class="absolute">
    <a href="#/invoiceList{{client.id}}"> <button>Fakturalista</button></a>
    <a href="#/newInvoice{{client.id}}"> <button>Skapa faktura</button></a>
    <a href="#/clientList"><button ng-click="delete()">Ta Bort Kund</button></a>
  <input type="submit" value="Spara"/>
  </div>
    </form>


</div>
