<h1>Kundlista</h1>
<div ng-controller="clientListCtrl as clientList">
    <table class="table table-hover table-condensed">
      <tr>
        <th>Kundnr</th>
        <th>Företagsnamn</th>
        <th>Adress</th>
        <th>Postnummer</th>
        <th>Postort</th>
        <th>Kontaktperson</th>
        <th>Telefonnummer</th>
      </tr>


      <tr data-ng-repeat="client in clientList.client"
          data-ng-click="goto_client(client.id)">

        <td> {{client.clientNo}}</td>
        <td>{{client.companyName}}</td>
        <td> {{client.mainAddress.address1}}</td>
        <td>{{client.mainAddress.postCode}}</td>
        <td>{{client.mainAddress.postAddress}}</td>
        <td>{{client.contact}}</td>
        <td>{{client.phoneNumber}}</td>


</tr>
    </table>
</div>

