<div style="color: #FF0000">{{invoiceMessage}}</div>
<div >
  <form name="InvoiceForm">
    <table class="invoiceForm" >

      <h3>Fakturaadress</h3>
      <tr>
        <th>Fakturanr: </th>
        <td>{{invoice.invoiceNo}}</td>
        <th>Fakturadatum: </th>
        <td>{{invoice.invoiceDate}}</td>
      </tr>
      <tr>
        <th>Kundnr</th>
        <td>{{invoice.client.clientNo}}</td>
        <th>Förfallodatum: </th>
        <td>{{invoice.dueDate}}</td>
      </tr>
      <tr>
        <th>Företagsnamn</th>
        <td>{{invoice.client.companyName}}</td>
        <th>Ordernummer</th>
        <td>{{invoice.orderNo}}</td>
      </tr>
      <tr>
        <th>Adress</th>
        <td>{{invoice.client.address1}}</td>
      </tr>
      <tr>
        <th>Adress</th>
        <td>{{invoice.client.address2}}</td>
        <th>Fakturabelopp</th>
        <td>{{invoice.invoiceTotal}} SEK</td>
      </tr>
      <tr>
        <th>Postnummer</th>
        <td>{{invoice.client.postCode}}</td>
      </tr>
      <tr>
        <th>Postort</th>
        <td>{{invoice.client.postAddress}}</td>
      </tr>
      <th>Kontaktperson</th>
      <td>{{invoice.client.contact}}</td>
      </tr>
      <tr>
        <th>Telefonnummer</th>
        <td>{{invoice.client.phoneNumber}}</td>

      </tr>
    </table>
    <br>
    <br>

    <table class="table table-striped table-bordered table-responsive">
      <thead >
      <th>Radnr</th>
      <th>Artikelnr</th>
      <th>Antal</th>
      <th>Benämning</th>
      <th>Á-pris</th>
      <th>Total</th>
      </thead>
      <tbody>
      <tr ng-repeat="rows in invoice.invoiceRows" init="rowNo=0">
        <td width="3%">{{rows.rowNo}}</td>
        <td><input type="text" ng-model="rows.articleNo" style="border: none; background-color: inherit"></td>
        <td><input type="number" ng-model="rows.quantity" style="border: none; background-color: inherit"></td>
        <td><input type="text" ng-model="rows.description" ng-click="rows.rowNo = $index + 1"  style="border: none; background-color: inherit"></td>
        <td><input type="number" ng-model="rows.unitPrice" style="border: none; background-color: inherit"></td>
        <td width="15%">{{rows.quantity*rows.unitPrice }}</td>
      </tr>

      </tbody>
    </table>
   <button class="btn btn-primary" ng-click="print(invoice)">Skriv ut</button>
  </form>
</div>

