
  <h1>Här ska vi lägga in nya kunder!</h1>
    <div ng-controller="newClientCtrl">
    <form name="newClientForm" ng-submit="save()">
      <input type="hidden" ng-model="client.user">
      <div style="-webkit-column-count: 2">
 <table>
   <tr>
     <td>Kundnr</td>
     <td><input type="number" ng-model="client.clientNo" ng-blur="checkClientNo()" ng-required="true">
       <span ng-show="exsist" style="color: red">Kundnummret existerar redan!</span></td>
     <span style="color: red" ng-show="client.clientNo.$error.required">Kundnummer krävs.</span>
     </tr>
   <tr>
  <td>Företagsnamn</td>
     <td><input type="text" name="companyName" ng-model="client.companyName" ng-required="true"></td>
   </tr>
   <tr>
  <td>Adress</td>
     <td><input type="text" ng-model="client.mainAddress.address1"></td>
   </tr>
   <tr>
  <td>Adress</td>
     <td><input type="text" ng-model="client.mainAddress.address2"></td>
   </tr>
   <tr>
  <td>Postnummer</td>
     <td><input type="number" ng-model="client.mainAddress.postCode"></td>
   </tr>
   <tr>
  <td>Postort</td>
     <td><input type="text" ng-model="client.mainAddress.postAddress"></td>
   </tr>
   <tr>
   <td>Kontaktperson</td>
   <td><input type="text" ng-model="client.contact"></td>
   </tr>
   <tr>
  <td>Telefonnummer</td>
     <td><input type="text" ng-model="client.phoneNumber"></td>

   </tr>
   <tr>
     <td>E-post</td>
     <td><input type="text" ng-model="client.email"></td>
   </tr>
   <tr>
     <td>Organisationsnummer</td>
     <td><input type="text" ng-model="client.orgNumber"></td>

   </tr>
 </table>
      <input class="btn btn-primary" type="submit" value="SPARA">
      </div>
    </form>
    </div>

