<h1>Här lägger vi till en ny faktura</h1>

<div >
  <form name="newInvoiceForm" ng-submit="saveInvoice()">
     <table>
       <h3>Fakturaadress</h3>
       <tr>
         <td>Fakturanr</td>
         <td><input type="text" ng-model="invoice.invoiceNo"></td>
       </tr>
      <tr>
        <td>Kundnr</td>
        <td><input type="text" ng-model="invoice.client.clientNo"></td>
      </tr>
      <tr>
        <td>Företagsnamn</td>
        <td><input type="text" ng-model="invoice.client.companyName"></td>
      </tr>
      <tr>
        <td>Adress</td>
        <td><input type="text" ng-model="invoice.client.address1"></td>
      </tr>
      <tr>
        <td>Adress</td>
        <td><input type="text" ng-model="invoice.client.address2"></td>
      </tr>
      <tr>
        <td>Postnummer</td>
        <td><input type="text" ng-model="invoice.client.postCode"></td>
      </tr>
      <tr>
        <td>Postort</td>
        <td><input type="text" ng-model="invoice.client.postAddress"></td>
      </tr>
      <td>Kontaktperson</td>
      <td><input type="text" ng-model="invoice.client.contact"></td>
      </tr>
      <tr>
        <td>Telefonnummer</td>
        <td><input type="text" ng-model="invoice.client.phoneNumber"></td>

      </tr>
    </table>
  <br>
  <br>

  <table class="table table-striped table-bordered table-responsive">
    <thead>
    <td>Radnr</td>
    <td>Artikelnr</td>
    <td>Antal</td>
    <td>Benämning</td>
    <td>Á-pris</td>
    <td>Total</td>
    </thead>
    <tbody>
   <tr ng-repeat="rows in invoice.invoiceRows" init="rowNo=0">
     <td width="3%">{{rows.rowNo}}</td>
     <td><input type="text" ng-model="rows.articleNo" style="border: none; background-color: inherit"></td>
     <td><input type="number" ng-model="rows.quantity" style="border: none; background-color: inherit"></td>
     <td><input type="text" ng-model="rows.description" ng-click="rows.rowNo = $index + 1"  style="border: none; background-color: inherit"></td>
     <td><input type="number" ng-model="rows.unitPrice" style="border: none; background-color: inherit"></td>
      <td width="15%">{{rows.quantity*rows.unitPrice }}</td>
   </tr>

    </tbody>
  </table>
    <input type="submit" value="Spara">
  </form>
</div>
