<div >
  <form name="newInvoiceForm" ng-submit="saveInvoice()">
     <table class="newInvoice" >

       <h3>Fakturaadress</h3>
       <tr>
         <th>Fakturanr</th>
         <td><input class="form-control" type="text" ng-model="invoice.invoiceNo"></td>
         <th>Fakturadatum</th>
         <td> <div class="col-md-4">
           <p class="input-group">
             <input type="text" class="form-control" uib-datepicker-popup ng-model="invoice.invoiceDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
         </p>
         </div></td>
       </tr>
      <tr>
        <th>Kundnr</th>
        <td><input class="form-control"type="text" ng-model="invoice.client.clientNo"></td>
        <th>Förfallodatum</th>
        <td> <div class="col-md-4">
          <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="invoice.dueDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          </p>
        </div></td>
      </tr>
      <tr>
        <th>Företagsnamn</th>
        <td><input class="form-control"type="text" ng-model="invoice.client.companyName"></td>
        <th>Ordernummer</th>
        <td><input type="text" ng-model="invoice.orderNo"></td>
      </tr>
      <tr>
        <th>Adress</th>
        <td><input type="text" ng-model="invoice.client.address1"></td>
      </tr>
      <tr>
        <th>Adress</th>
        <td><input type="text" ng-model="invoice.client.address2"></td>
      </tr>
      <tr>
        <th>Postnummer</th>
        <td><input type="text" ng-model="invoice.client.postCode"></td>
      </tr>
      <tr>
        <th>Postort</th>
        <td><input type="text" ng-model="invoice.client.postAddress"></td>
      </tr>
      <th>Kontaktperson</th>
      <td><input type="text" ng-model="invoice.client.contact"></td>
      </tr>
      <tr>
        <th>Telefonnummer</th>
        <td><input type="text" ng-model="invoice.client.phoneNumber"></td>

      </tr>
    </table>
  <br>
  <br>

  <table class="table table-striped table-bordered table-responsive">
    <thead>
    <td>Radnr</td>
    <td>Artikelnr</td>
    <td>Antal</td>
    <td>Benämning</td>
    <td>Á-pris</td>
    <td>Total</td>
    </thead>
    <tbody>
   <tr ng-repeat="rows in invoice.invoiceRows" init="rowNo=0">
     <td width="3%">{{rows.rowNo}}</td>
     <td><input type="text" ng-model="rows.articleNo" style="border: none; background-color: inherit"></td>
     <td><input type="number" ng-model="rows.quantity" style="border: none; background-color: inherit"></td>
     <td><input type="text" ng-model="rows.description" ng-click="rows.rowNo = $index + 1"  style="border: none; background-color: inherit"></td>
     <td><input type="number" ng-model="rows.unitPrice" style="border: none; background-color: inherit"></td>
      <td width="15%">{{rows.quantity*rows.unitPrice }}</td>
   </tr>

    </tbody>
  </table>
    <input class="btn btn-primary" type="submit" value="Spara">
  </form>
</div>
